table{
    border-collapse: collapse;
    margin: 20px 0;
}

table td, table th{
    border: 1px solid #264D73;
    color: #666;
    padding: 10px;
    text-align: left;
}

table tr:nth-child(odd){
    background: #fff;
}

table tr:nth-child(even){
    background: #e8e8e8;
}

